html {
    font-size: 62.5%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: yellow; 
}

.PHeader {
    color: white; 
    font-family: Arial; 
    font-size: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #0000ff;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: teal
}

p {
    color:#4D4D4D; 
    font-family: Arial;
    font-size: 1rem;
}

.p1 {
    font-weight: bold;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

img {
    width: 85rem;
}

header {
    width: 134rem;
    height:45rem;
    background-image: url(./img/splatoon\ 3\ header\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

article {
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 1rem;
    border-left-width: 0.6rem;
}

.Last {
    border-color: rgb(255, 253, 132)
}

.Steelrising {
    border-color:rgb(235, 229, 229)
}

.Splatoon {
    border-color: rgb(164, 204, 54)
}

.Diofield {
    border-color: rgb(92, 92, 92);
}

.Valkyrie {
    border-color: rgb(109, 109, 247);
}