* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    width: 100vw;
}

.item1 {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 50px;
}

.item2 {
    height: 200px;
    width: 200px;
    background: black;
    margin: 50px;
}

.item3 {
    height: 200px;
    width: 200px;
    background: red;
    margin: 50px;
}

.item4 {
    height: 200px;
    width: 200px;
    background: green;
    margin: 50px;
}