* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    width: 100vw;
}

.item1 {
    height: 200px;
    width: 200px;
    background: blue;
}

.item2 {
    height: 200px;
    width: 200px;
    background: black;
}

.item3 {
    height: 200px;
    width: 200px;
    background: red;
}

.item4 {
    height: 200px;
    width: 200px;
    background: green;
}

div {
    display: flex;
    justify-content: center;
}