* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background: gray;
}

.item1 {
    color: blue;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
}

.item2 {
    color: blue;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}