* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

h2 {
  margin: 10vh;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: "Goldman", cursive;
  color: white;
  background-image: url(./img/clint-patterson-dYEuFB8KQJk-unsplash-1160x670.jpg);
  background-repeat: no-repeat;
  background-size: 145rem 75rem;
  background-color: black;
  position: absolute;
  height: 100vh;
}

section {
  height: 65rem;
  width: 115rem;
  font-size: medium;
}

.fix {
 position: relative;
  top: 30rem;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer {
  height: 12vh;
  width: 215.9vh;
  background: #00a8c7;
  text-align: center;
  padding: 3.5vh 3.5vh;
}

div {
  display: flex;
}

.omgekeerd {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 20vw;
  z-index: 1;
  box-shadow: 0rem 0.5rem 1rem 0rem #E9E9E9;
}

.dropdown-content a {
  color: #00a8c7;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  column-rule-color: #00a8c7;
}

.item1:hover {
  background-color: #E9E9E9;
} 

.item2:hover {
  background-color: #E9E9E9;
} 

.item3:hover {
  background-color: #E9E9E9;
}