* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: bolder;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  color: white;
  background-image: url(./img/clint-patterson-dYEuFB8KQJk-unsplash-1160x670.jpg);
  background-repeat: no-repeat;
  background-size: 145rem 75rem;
  background-color: black;
}

section {
  height: 65rem;
  width: 125rem;
  font-size: medium;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer {
  height: 10rem;
  background: #00a8c7;
}